extends /layout/dashboard

block content
  .row.justify-content-center
    .col-md-12.col-lg-8
      .btn-group.w-100(role='group')
        a.btn.btn-outline-secondary.w-100(class={'active': status === 'public'}, href='/dashboard/archives?status=public') 已發佈
        a.btn.btn-outline-secondary.w-100(class={'active': status === 'draft'}, href='/dashboard/archives?status=draft') 草稿
        a.btn.btn-primary(href='/dashboard/article/create') 新增文章
      for prop in articles
        .card.my-3
          h4.card-header= prop.title
          .card-body
            p= striptags(prop.content).slice(0, 140) + '...'
            div
              span.px-2
                span.px-1
                  i.fa.fa-clock-o
                span= moment(prop.update_time * 1000).format('YYYY/MM/DD')
              span.px-2
                span.px-1
                  i.fa.fa-folder-open-o
                for item in categories
                  if prop.category === item.id
                    span= item.name
          .card-footer.p-0.btn-group
            button.btn.btn-outline-danger.deletePost(data-id=prop.id, data-title=prop.title) 刪除
            a.btn.btn-outline-secondary.w-100(href='/dashboard/article/' + prop.id) 編輯
            a.btn.btn-outline-secondary.w-100(href='/post/' + prop.id, target='_blank') 預覽
  include /includes/pagination.pug
  script.
    $(document).ready(function() {
      $('.deletePost').on('click', function(e) {
        e.preventDefault();
        let id = $(this).data('id');
        let title = $(this).data('title');
        if (confirm('確認使否刪除：' + title)) {
          $.ajax({
            url: `/dashboard/article/delete/${id}`,
            method: 'POST',
          }).done((res) => {
            window.location.reload();
          });
        }
      });
    });
