extends /layout/dashboard

block content
  h1= title
  form.row.justify-content-center(
    action= '/dashboard/article' + (article && article.id ? '/update/' + article.id : '/create'),
    method='POST')
    .col-md-9
      label(for='title') 請輸入標題
      input#title.form-control(type='text', name='title', placeholder='標題', value=article && article.title ? article.title : '')
      hr
      textarea#editor.form-control(name='content')= article && article.content ? article.content : ''
      script.
        ClassicEditor
          .create(document.querySelector('#editor'))
          .catch(error => {
            console.warn(error);
          });
    .col-md-3
      .card.mb-3
        h6.card-header 分類
        .card-body
          for prop in categories
            .form-check
              label.form-check-label
                if article && prop.id === article.category
                  - var checked = true
                else
                  - var checked = false
                input.form-check-input(type='radio', name='category', required, value=prop.id, checked= checked)
                span= prop.name
      .card.mb-3
        h6.card-header 是否公開
        .card-body
          .btn-group.btn-group-toggle.w-100(data-toggle='buttons')
            if article && article.status === 'draft'
              - var checkedDraft = true
              - var checkedPublic = false
            else if article && article.status === 'public'
              - var checkedDraft = false
              - var checkedPublic = true
            else
              - var checkedDraft = false
              - var checkedPublic = false
            label.btn.btn-outline-primary.w-100(class={ 'active': checkedDraft })
              input(type='radio', name='status', autocomplete='off', required, value='draft', checked= checkedDraft)
              | 草稿
            label.btn.btn-outline-primary.w-100(class={ 'active': checkedPublic })
              input(type='radio', name='status', autocomplete='off', required, value='public', checked= checkedDraft)
              | 公開
      .btn-group.w-100
        button.btn.btn-outline-primary.w-100(type='submit') 儲存
