extends /layout/main

block content
  .hex-blog
    nav.breadcrumb.pl-0
      a.breadcrumb-item.text-primary(href='/') Home
      for category in categories
        if category.id === article.category
          a.breadcrumb-item.text-primary(href='#')= category.name
      span.breadcrumb-item.active= article.title
    .row.justify-content-center
      .col-md-9
        h1.text-primary= article.title
        .d-flex.flex-row.text-secondary.small
          .p-2
            span.px-2
              i.far.fa-user(aria-hidden='true')
            span 卡斯伯
          .p-2= moment(article.update_time * 1000).format('YYYY/MM/DD')
          .p-2
            span.px-2
              i.fa.fa-tag(aria-hidden='true')
            for category in categories
              if category.id === article.category
                a.text-info(href='#')= category.name
        article.text-dark.post.mb-4
          p= striptags(article.content)
        //- 留言
        .card.mb-3
          .card-body